@use "colors";

.footer {
color: colors.$cream;
background-color: colors.$coffee;
padding: 20px;
text-align: center;
font-size: 10px;
}

.icons {
    text-align: center;
}

.icons ion-icon {
    color: colors.$cream;
    font-size: 30px;
    padding: 10px;
    transition: 0.3s;
}

.icons ion-icon:hover {
    color: colors.$forest;
}
