@use "colors";

.footer {
color: colors.$cream;
background-color: colors.$coffee;
padding: 20px;
text-align: center;
font-size: 10px;
}

.icons {
    text-align: center;

    & ion-icon {
        color: colors.$cream;
        font-size: 30px;
        padding: 10px;
        transition: 0.3s;

        &:hover {
            color: colors.$forest;
        }
    }

    &--gallery {
    & ion-icon {
        color: colors.$forest;
        font-size: 30px;
        padding-right: 10px;
        transition: 0.3s;

        &:hover {
            color: white;
        }
    }
 }   
}
