@use "colors";

.gallery-page {
    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1);

    &__link {
        overflow: hidden;
    }

    &__image {
        max-width: 100%;
        transition: 0.5s;
        

        &:hover {
            transform: scale(1.15);
        }

    }
}

.icons {
    &--gallery {
    & ion-icon {
        color: colors.$forest;
        font-size: 30px;
        padding-right: 10px;
        transition: 0.3s;

        &:hover {
            color: white;
        }
    }
 }   
}

@media screen and (min-width: "550px") {
    .gallery-page {
        padding: 10px;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, minmax(150px, 100%));
    }
    

}
