@use "colors";   

html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; margin: 0; padding: 0; font-family: 'Raleway', sans-serif; }

ul {
    list-style: none;
    padding: 0;
}

body {
    max-width: 1920px;
    margin: 0 auto;
}

main {
    min-height: calc(100vh - 177px);
}

.section {
    width: 100%;
    padding: 30px;
    margin: 0 auto;
    text-align: center;
    background-color: colors.$cream;

    &--dark {
        background-color: colors.$coffee;
        color: #fff;
    }

    &--fill {
        min-height: inherit;
    }   
    
    &--gallery {
        display: flex;
        justify-content: center;
    }
}

.title {
    display: inline-block;

    &::after {
        content: "";
        display: block;
        width: 80%;
        height: 2px;
        margin: 5px auto;
        background-color: colors.$forest;
    }
}

.motto {
    font-size: 20px;
    color: colors.$cream;
    padding: 2px;
    text-align: center;
    background-color: colors.$forest;
}

.text {
    margin: 10px 0;
}


@media screen and (min-width: "550px") {
    .section {
        width: 80%;

        &--gallery {
        width: 100%;
        padding: 15px 0 0 0;
        }
    }
}