@use "colors";

header {
    position: relative;
    background-color: colors.$coffee;
}
.logo {
    margin: 5px;
    max-width: 200px;
    height: auto;
}

@media screen and (min-width: "550px") {
 header {
    background-color: colors.$coffee;
 }
}