@use "colors";

header {
    position: relative;
    background-color: colors.$coffee;
}
.logo {
    margin: 5px;
    max-width: 200px;
    height: auto;
    transition: 0.5s;

    &:hover {
        transform: scale(1.1);
    }
}

@media screen and (min-width: "550px") {
 header {
    background-color: colors.$coffee;
 }
}