@use "colors";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .menu {
    width: 100%;
    text-align: center;
    position: absolute; 
    top:70px;
    transform: translateX(-100%);
    background-color: colors.$coffee;
    opacity: 0.9;
    font-size: 20px;
    color: colors.$cream;
    transition: transform 0.3s;
}

.menu__link {
    text-decoration: none;
    color: colors.$cream;
    display: inline-block;
    padding: 10px;
}

.navbar .menu.active {
    transform: translateX(0);
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}
.hamburger.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

.hamburger .bar {
    width: 25px;
    height: 2px;
    display: block;
    background-color: black;
    transition: transform 0.3s;
}

.hamburger .bar:not(:last-child) {
    margin-bottom: 5px;
}
