<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="Café Depo Česká Třebová" />
    <meta property="og:description" content="...Vaše domovská stanice" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://cafe-depo.netlify.app/images/carousel/carousel1.jpg" />
    <meta property="og:url" content="https://cafe-depo.netlify.app/" />
    <meta property="og:locale" content="cs_CZ" />

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">



    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#448bcc">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">

    <title>Café Depo Česká Třebová: {{ title }}</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a class="logo__link" href="/"><img class="logo" src="/images/logo_bile.png" alt="logo" /></a>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <div class="menu">
            <ul class="menu__list">
                <li class="menu__item {{ "menu__item--active" if page.fileSlug == ""}}"><a class="menu__link" href="/">Úvod</a></li>
                <li class="menu__item {{ "menu__item--active" if page.fileSlug == "nabidka"}}"><a class="menu__link" href="/nabidka/">Nabídka</a></li>
                <li class="menu__item {{ "menu__item--active" if page.fileSlug == "galerie" or page.fileSlug == "kavarna" or page.fileSlug == "zakusky" or page.fileSlug == "chlebicky"}}"><a class="menu__link" href="/galerie/">Galerie</a></li>
                <li class="menu__item {{ "menu__item--active" if page.fileSlug == "kontakt"}}"><a class="menu__link" href="/kontakt/">Kontakt</a></li>
            </ul>
        </div> 
      </nav>
    </header>

<main>
    {{ content | safe }}
</main>

  {% include 'partials/footer.njk' %}


  <script src="/scripts/script.js"></script>
  <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
  <script src="/scripts/fslightbox.js"></script>

  </body>
</html>