<section class="section">
  <div class="title"><h2>O nás</h2></div>
  <div class="aboutus">
    <p class="aboutus__text text">
      Jsme útočistěm pro všechny milovníky kávy, kteří čekají na zpožděný vlak. Denně u nás najdete čerstvou nabídku domácích dortů a chlebíčků. To, co si ke kávě objednáte, je vždy vyrobené přímo u nás v kuchyni. Dáváme do toho nadšení a lásku. Snažíme se pozitivní energii posílat dál a často se nám vrací ve Vaší spokojenosti. Děkujeme.
    
    </p>
    <img class="aboutus__image" src="images/majitelka.jpg" alt="majitelka" />
  </div>
</section>