
 <section class="section">
  <div class="title"><h2>Aktuality</h2></div>
  <div class="actuality">
    <img class="actuality__image" src="/images/aktuality/aktuality.jpg" alt="aktuálně" />
    <p class="actuality__text text">
    Máme opět otevřeno! 💖
    </p>
  </div>
</section>