
  <div class="title"><h2>Aktuality</h2></div>
  <div class="aboutus">
    <img class="aboutus__image" src="/images/aktuality/aktuality.jpg" alt="aktuálně" />
    <p class="aboutus__text text">
    A těšíme se na viděnou v novém roce. Datum otevření bude upřesněno, sledujte nás na Facebooku, Instragramu a naší webové stránce. Děkujeme za přízeň 💖
    </p>
    
  </div>
