  <div class="title"><h2>Navštivte nás</h2></div>

  <div class="contact">
    <div class="contact__maininfo">
      <h3 class="contact__title">Rezervace na čísle</h3>
      <p class="contact__text text">+420 722 005 719</p>

      <h3 class="contact__title">Otevírací doba</h3>
      <p class="contact__text text">Po–Pá 9:00–18:00</p>
    </div>
    <div class="contact__map">
      <a
        href="https://www.google.com/maps/place/CAF%C3%89+DEPO/@49.8987494,16.4456403,15z/data=!4m5!3m4!1s0x0:0x435b7152093d31f2!8m2!3d49.898746!4d16.4456517"
        target="_blank"
        ><img class="contact__image" src="/images/map.avif" alt="mapa"
      /></a>
    </div>
    <div class="contact__adress">
      <h3 class="contact__title">Adresa</h3>
      <p class="contact__text text">
        Nádražní 395<br />
        560 02<br />
        Česká Třebová
      </p>
    </div>
  </div>
