    <footer class="footer">
      <p>COPYRIGHT © 2022 | CAFÉ DEPO</p>
      <div class="icons">
        <a class="icons__link" href="https://www.facebook.com/kavarnacafedepo" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a>
        <a class="icons__link" href="https://instagram.com/kavarna_cafedepo?igshid=YmMyMTA2M2Y=" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
        <a class="icons__link" href="https://www.google.com/search?q=cafe+depo&oq=caf&aqs=chrome.0.69i59l3j69i57j69i60l2j69i61j69i60.2825j0j7&sourceid=chrome&ie=UTF-8#lpg=cid:CgIgAQ%3D%3D,ik:CAoSLEFGMVFpcE50X2VrLWtoY3FrUDVxeTlHdl9XdWZjMUV6TFJlQjR3S3p5a0VM" target="_blank"><ion-icon name="logo-google"></ion-icon></a>
      </div>
    </footer>